* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 

header {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(198, 176, 243);
}

main {
    height: 750px;
    background-color: rgba(203, 177, 253, 0.669);
}

footer {
    border: 5px;
    margin: 3px;
    padding: 3px;
    display: flex;
    position: fixed;
}